.form-field-small{
    width: 100%;
    padding:1rem;
    min-width: 16rem;
}


@media (min-width: 35rem){
    .form-field-small{
        width: 50%;
        padding:1rem;
    }
}

.form-field{
    padding:1rem;
}