@import url("https://fonts.googleapis.com/css2?family=Rozha+One:wght@400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");

* {
    box-sizing: border-box;
}
html{
    min-height: 100%;
}

body {
    background-color: #eee;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

#root{
    height: 100%;
    min-height: 100vh;
}
.MuiContainer-root{
    height: 100%;
    min-height: 100vh;
}
h1,h2,h3, h4{
    color:#000000;
    font-weight: 200;

}
h2 { 
    font-size: 1.7rem;
    text-transform: uppercase;
}
h3 {
    font-size: 1.4rem;
}

.text-secondary{
    color: #797979;
    border-left: 1px solid #797979;
    padding-left: 1rem;
    margin-left: 1rem;
}
.uppercase{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}   
.text-justify{
    text-align: justify;
}   

.bold{
   font-weight: 700; 
}

.displayBlock{
    display:block
}

.displayInlineBlock{
    display:inline-block
}

.displayFlex{
    display: flex;
}
.flexWrap{
    flex-wrap: wrap;
}


.justifySpaceBetween{
    justify-content: space-between;
}

.block-content{
    margin: 4rem 0;
}



.MuiInputBase-input{
    color: #333333 !important;
}