.image-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 40rem;
    grid-gap: 2rem;
    justify-items: stretch;
    align-items: stretch;
}



.image-grid-vertical{
    display: none;
}

.image-horizontal{
    /* grid-column: 2/4; */
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
}

.image-single-right{
    /* grid-column: 3/4; */
    grid-row: 2/3;
    position: relative;
    overflow: hidden;
}

.image-single-left{
    /* grid-column: 2/3; */
    grid-row: 3/4;
    position: relative;
    overflow: hidden;
}
@media (min-width: 62.5rem){
    .image-grid {
        grid-template-columns: 2fr 1fr 1fr;
        grid-auto-rows: minmax(13rem, auto);
        grid-gap: 2rem;
    } 
    .image-grid-vertical{
        display: block;
        grid-row: 1/5;
        grid-column: 1/2;
        position: relative;
        overflow: hidden;
    }
    
    .image-horizontal{
        grid-column: 2/4;
        grid-row: 1/3;
        position: relative;
        overflow: hidden;
    }
    
    .image-single-right{
        grid-column: 3/4;
        grid-row: 3/5;
        position: relative;
        overflow: hidden;
    }
    
    .image-single-left{
        grid-column: 2/3;
        grid-row: 3/5;
        position: relative;
        overflow: hidden;
    }
}