.button-light{
    text-transform: uppercase;
    font-family: inherit;
    font-weight: inherit;
    border: none;
    background: none;
    cursor: pointer;
    min-width: 132px;
    max-height: 51px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.button-light:hover,
.button-light:active
{
    background: #eee;
}

.button-light:focus {
    outline: none;
   }

.button-light__text{
    vertical-align: middle;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}
.button-light__icon{
    text-align: end;
    
    padding-right: 0;
    
}
.button-light__icon-svg{
    vertical-align: middle;

}
