/*header container */
.header{
    width: 100%;  
}

/* country selector */

.header__country-selector{
    text-align: end;
    padding: 0.2rem 1rem;
    background: #000000;
}

/* logo */
.header__logo-containter{
    position: relative;
    padding-left: 1rem;
    text-align: left;
    border-bottom: 1px solid #eee;
}
@media (min-width: 75rem){
    .header__logo-containter{
        text-align: center;
    }
    
}

.header__logo{
    max-height: 4rem;
}

/* navigation */

.header__navigation{
    /* padding: 0 20rem; */
    text-align: center;
    border-bottom: 1px solid #eae7e7;

}




.header__navigation-links{
    position: relative; 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: max-content;
}

.header__navigation-links > li{
    list-style-type: none;
    padding: 0.8rem 0;
    margin: 0 2rem;
    text-transform: uppercase;
}



.link{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.link:hover,
.link:active
{
    border-bottom: 1px solid black;
}

.link-active{
    border-bottom: 1px solid black;
}

.link-active:hover,
.link-active:active
{
    border-bottom: none
}






.header__navigation-container{
    top:0;
    left:0;
    /* position: absolute; */
    background: #fffffffa;
    width:100%;
    z-index: 10;
}